.App {
  text-align: center;
  background: #f5f7f8;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  align-self: center;
  margin-left: 10px;

}
.navbar {
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.tab-container {
  padding-top: 20px;
}
.app-selector {
  margin-top: 20px;
}

.body-container {
  background: white;
  border-radius: 7px;
  padding: 10px;
  margin-top: 20px;

}

.sub-menu {
  display: flex;
  justify-content: space-between;
}

.tab-btn {
    height: fit-content;
    align-self: center;
}

.cancel-btn {
  margin-left: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
